.contactInfo {
  display: flex;
  min-width: 20%;
  max-width: 35%;
  color: #ffffff;
  font-style: italic;
  font-size: 14px;
  align-items: center;
}

.address {
  padding: 0;
  padding-left: 15px;
}

.phone {
  min-height: min-content;
  padding-left: 15px;
}

.phone a {
  color: inherit;
  text-decoration: none;
}